# ===========================
# پوشه‌ها و فایل‌های CMake
# ===========================
/build/
/CMakeFiles/
/CMakeCache.txt
/*.cmake
Makefile

# ===========================
# فایل‌های اجرایی
# ===========================
*.exe
*.out
*.app
RAMSimulator

# ===========================
# فایل‌های موقتی و لاگ
# ===========================
*.log
*.tmp
*.swp
*.bak

# ===========================
# تنظیمات IDE
# ===========================
*.vscode/
*.idea/
*.user
*.suo
*.ncb
*.opendb

# ===========================
# macOS
# ===========================
.DS_Store

# ===========================
# Linux
# ===========================
*~
